<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800">


<section style="box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);background-color: #fff;width: 500px;margin: 0 auto;margin-top:60px;">
    <form action="<%= redirectUrl %>" method="post">
        <div style="color: #575962;padding: 30px;margin-bottom:0px;">
            <h3 style="font-size: 18px;font-weight: 600;color: #716aca;margin-bottom: 25px;margin-top: 0;font-family:Poppins;">Password reset form</h3>
            <div>
                <label for="password" style="width:100%;font-family:Poppins;display:block;clear:both;font-size: 13px;color: #000;">New password:</label>
                <input type="password" name="newPassword" style="border-color: #ebedf2;color: #575962;display: block;width: 100%;padding: 7px 10px;font-size: 1rem;color: #495057;background-color: #fff;background-image: none;background-clip: padding-box; border: 1px solid rgba(0, 0, 0, .15);border-radius: .25rem;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;">
            </div>
            <br/>
            <div>
                <label for="confirmation" style="width:100%;font-family:Poppins;display:block;clear:both;font-size: 13px;color: #000;">Confirm new password:</label>
                <input type="password" name="confirmation" style="border-color: #ebedf2;color: #575962;display: block;width: 100%;padding: 7px 10px;font-size: 1rem;color: #495057;background-color: #fff;background-image: none;background-clip: padding-box; border: 1px solid rgba(0, 0, 0, .15);border-radius: .25rem;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;">
            </div>
            <br/>
            <br/>
            <div>
                <input type="submit" value="Reset password" style="background-color: #384ad7;background-image: none;border-color: #2e40d4;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;border: 1px solid transparent;padding: 8px 15px;font-size: 13px;color: #fff;;border-radius: .25rem;transition: all .15s ease-in-out;font-family:Poppins;cursor:pointer;">
            </div>

        </div>

    </form>
</section>