<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800">
<div style="box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);width: 500px;margin: 0 auto;margin-bottom:40px;">
    <table style="background-color: #fff;width: 500px;margin: 0 auto;margin-top:60px;">
        <tr>
            <td style="font-size: 18px;font-weight: 600;color: #716aca;margin-top: 0;font-family:Poppins;padding:25px;"> 
                Status of Student Registration for {{schoolName}} -
            </td>
        </tr>
    </table>
    <table style="background-color: #fff;width: 500px;margin: 0 auto;">
        <tr>
            <td style="font-size: 15px;font-weight: 500;color: #000;margin-bottom: 25px;margin-top: 0;font-family:Poppins;padding:15px 25px;"> 
                Students successfully registered
            </td>
            <td style="font-size: 15px;font-weight: 600;color: #716aca;margin-bottom: 25px;margin-top: 0;font-family:Poppins;padding:15px 25px;"> 
                {{savedStudents}}
            </td>
        </tr>
        <tr>
            <td style="font-size: 15px;font-weight: 500;color: #000;margin-bottom: 25px;margin-top: 0;font-family:Poppins;padding:15px 25px;"> 
                Students failed to register
            </td>
            <td style="font-size: 15px;font-weight: 600;color: #716aca;margin-bottom: 25px;margin-top: 0;font-family:Poppins;padding:15px 25px;"> 
                {{failedStudents}}
            </td>
        </tr>
    </table>
    <table style="background-color: #fff;width: 500px;margin: 0 auto;margin-top:0px;">
        <tr>
            <td style="font-size: 13px;font-weight: 500;color: #000;margin-top: 0;font-family:Poppins;padding:25px;padding-bottom:0;">
                 Please refer to attach file with student information which was not registered due to some error. Please resolve those and try again later.
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px;font-weight: 500;color: #000;margin-top: 0;font-family:Poppins;padding:25px;"> 
                <i>Regards, <br/> System Admin - SFS </i>
            </td>
        </tr>
    </table>
</div>